@import "~normalize.css";

body {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  font-style: normal;


  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

h1 {
  font-family: pragmatica-extended, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  /* scales font between 1 and 2 ems depending on screen size */
  font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));

  text-transform: uppercase;
  line-height: 1.2em;
  padding: 16px 32px;
}

a {
  color: #bb0000;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 16px 32px;
}

section#aboveFold {
  /*height: 0;*/ /* hack for IE11, that unfortunately breaks landscape mode phones */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0;
  box-sizing: border-box;

  background-color: black;
  color: white;
}

/* FOUT. Important to not start animation until fonts are loaded. */
.wf-loading #selector, .wf-loading h1 {
  display: none;
}

.selectorContainer {
  flex-grow: 1;
  flex-shrink: 1;
}

.videoVisible .selectorContainer {
  flex-grow: 0;
}

.videoContainer {
  flex-grow: 1;
  flex-basis: 50vh; /* Grow doesn't work in IE so give it something so it's not 0 */
  position: relative;
}

.videoContainer > iframe {
  height: 100%;
  position: absolute; /*needed by some browsers*/
}

#selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#selector > * {
  flex-shrink: 1;
  flex-basis: 88px;
  padding: 11px;
  margin-bottom: 11px;

  transition: opacity 100ms ease;
}

#selector > a {
  color: white;
  text-decoration: none;
  font-family: pragmatica-extended, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  /* scales font between 10px and 2 ems depending on screen size */
  font-size: calc(10px + (32 - 10) * ((100vw - 300px) / (1600 - 300)));

  text-transform: uppercase;
  white-space: nowrap;
}

.videoHidden #selector > *, .videoHidden #selector img {
  height: 66px;
}


.videoVisible #selector {
  flex-direction: row;
}

.videoVisible #selector > * {
  flex-basis: 44px;
  margin-right: 11px;
}

.videoVisible .linkTitle {
  display: none;
}

#selector img {
  max-width: 100%;
  max-height: 100%;
  transition: all 100ms ease;

  vertical-align: middle;
}

.videoVisible #selector a, #selector:hover a.fadeinEnded {
  opacity: 0.5;
  animation: none !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@keyframes pulse {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1
  }
}

#selector a, h1 {
  animation: 1s ease-in 0s 1 backwards fadein;
}
h1 {
  animation-delay: 2s;
}

#selector a.fadeinEnded {
  /* remove animation after ended
  otherwise it iterferes with putting on another animation
  if that animation is removed the fade in restarts from the beginning.
  This fixes that. */
  animation: none;
}

#selector a:nth-child(1) {
  animation-delay: 500ms;
}
#selector a:nth-child(2) {
  animation-delay: 1000ms;
}
#selector a:nth-child(3) {
  animation-delay: 1500ms;
}

.videoHidden #selector a.fadeinEnded:first-child {
  animation: 1s ease-in-out 1s alternate-reverse infinite pulse;
}

#selector:hover a:hover {
  opacity: 1;
}

.forgivenessShown a#forgivenessLink {
  opacity: 1
}

.hardshipShown a#hardshipLink {
  opacity: 1
}

.defaultShown a#defaultLink {
  opacity: 1
}

.pieceTitle {
  font-weight: 700;
}

.textContainer {
  max-width: 1200px;
  margin: auto;
}

.bodyLayout {
  display: flex;
  flex-direction: row;
}

.artistStatement {
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 4em;
}

.loanTerms {
  flex-basis: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 12px;
}

.loanTerms b {
  color: #bb0000;
  font-weight: inherit;
}

.loanTermHeading {
  font-family: pragmatica-extended, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 90%;
}

@media screen and (max-width: 864px) {
  .bodyLayout {
    display: block;
  }

  .artistStatement {
    margin-right: 0;
  }
}